body,h1,ul{
	margin:0; /*완전 왼쪽으로 밀착된다.*/
	padding:0;
}

li{
	list-style: none; /*list 앞에 붙는 점들이 사라진다.*/
}

div.wall{ /*select 부분*/
	width: 800px;
	height: 600px;
	margin: 50px auto;
	background-color: gray;
	position: relative;
	box-shadow: 0 0 10px rgba(44,200,55,0.2);
	border-radius: 5px;
	border: 5px solid peachpuff;
	overflow: hidden; /*select 다른부분은 안나오게*/
}

hi.title{
	font-size: 37px;
	right: 43px;
	top: 60px;
	width: 130px;
	position: absolute;
	font-family: Lobster;
}

div.wall ul.list{ /*배경 선택 전체 부분 크기 조정*/
	background-color: rgba(21,21,21,0.4);
	position: absolute;
	bottom:0;
	left:0;
	width: 500px;
	height: 100px;
	border-top:1px solid#666;
}

div.wall ul.list li{ /*배경 사진 크기기 및 모양부분*/
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 70px;
	height: 70px;
	border: 5px solid #333;
	border-radius: 10px;
	cursor: pointer;	
}

div.wall ul.list li img{
	width: 100%;
}

div.wall ul.list li:active{
	border-color: palevioletred;
}