body,ul, h1, h2{
	margin:0;
	padding:0;
}

body{
	background-image: url('../jquery/bg2.png');
	background-position: top;
}

li{
	list-style: none;
}

.character-all{
	overflow: hidden;
	width: 1100px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -550px;
	margin-top: -300px;
}


.all{
	float: bottom;
	width: 700px;
	height: 500px;
	position: relative;
	margin-left:50px;
	margin-top:300px;
	
}

/*나중에 cd를 변경할 경우 대비해서 만들어놓는 css 
#cd.music1{background-position: right top;}
#cd.music2{background-position: right center;}
#cd.music3{background-position: right bottom;}*/

.select-character{
	cursor: pointer;
	width: 540px;
	position: relative;
	left: 110px;
	top: 50px;
	z-index:100; /*맨위로 나오게 함:숫자가 10보다 크면됨*/
}

.select-character h1.title{
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	color: #f60;
	text-indent: 45px; /*들여쓰기*/
	font-size: 25px;
}

.select-character .character-list li{
	height: 40px;
	line-height: 40px;
	color: #666;
	text-indent: 15px;
	font-size: 20px;
	background-color: rgba(0,0,0,0.8);
}

.select-character .character-list li:hover{
	background-color: #f60;
	color:#fff;
}

.select-character .character-list{
	display:none;
}